[submodule "include/assimp"]
	path = include/assimp
	url = https://github.com/assimp/assimp.git
[submodule "include/eigen"]
	path = include/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "include/emhash"]
	path = include/emhash
	url = https://github.com/ktprime/emhash.git
[submodule "include/entt"]
	path = include/entt
	url = https://github.com/skypjack/entt.git
[submodule "include/imgui"]
	path = include/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "include/magic_enum"]
	path = include/magic_enum
	url = https://github.com/Neargye/magic_enum.git
[submodule "include/nano-signal-slot"]
	path = include/nano-signal-slot
	url = https://github.com/NoAvailableAlias/nano-signal-slot.git
[submodule "include/tracy"]
	path = include/tracy
	url = https://github.com/wolfpld/tracy.git
[submodule "include/json"]
	path = include/json
	url = https://github.com/nlohmann/json.git
[submodule "include/stb"]
	path = include/stb
	url = https://github.com/nothings/stb.git
[submodule "include/volk"]
	path = include/volk
	url = https://github.com/zeux/volk.git
[submodule "include/vk-bootstrap"]
	path = include/vk-bootstrap
	url = https://github.com/charles-lunarg/vk-bootstrap.git
[submodule "include/VulkanMemoryAllocator"]
	path = include/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "include/JoltPhysics"]
	path = include/JoltPhysics
	url = https://github.com/jrouwe/JoltPhysics.git
